@charset "utf-8"; 
/* font______________________________ */
/* paperozi */
@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* reset______________________________ */
/* Icon Font CDN */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
/* font-family: fontawesome; */
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
html,body{
  width: 100%;
  height: 100%;
}
html{overflow-x:hidden; font-size: 62.5%; scroll-behavior: smooth;}
body{
  font-family: 'Pretendard', sans-serif; color: var(--primary-text);
  background-color: var(--white);
}
li{list-style-type: none;}  
a{
  text-decoration: none;  
  color: inherit;   
}
article,aside,details,summary,figcaption,figure,
footer,header,hgroup,main,nav,section{ 
	display:block;  
}
input,button,select,textarea{
  outline: none; background: none; border: none;
}
p{word-break: keep-all;}
h1{font-size: 100%;font: inherit;}
button{cursor: pointer;}



/* common______________________________ */
/* Variants */
/* color */
:root{
  --primary: #FF488E;
  --variant: #FFA2C2;
  --gradient: linear-gradient(180deg, #FF488E 0%, #FFA2C2 100%);
  --secondary: #FFAAAA;
  --bg: #FFEEF4;
  --bg-light: #FFF9FB;
  --cafeicon: #FF7E2F;
  --playicon: #9747FF;
  --cafeicon-sub: #FFAD81;
  --playicon-sub: #C192FF;
  --star: #FFC700;
  --star-score: #F6C102;
  --gray700: #222222;
  --primary-text: #333333;
  --secondary-text: #666666;
  --gray400: #999999;
  --gray300: #DDDDDD;
  --gray200: #EEEEEE;
  --gray100: #F5F5F5;
  --white: #FFFFFF;
}
/* top */
.top{
  position: fixed;
  bottom: 11rem;
  right: 2rem;
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
  z-index: 90;
}


/* section공통 */
.app{
  margin-top: 5.5rem;
}
section{width: 100%;}
section:last-of-type{padding-bottom: 9rem;}
.inner{
  padding: 0 2rem;
  margin: auto;
}

/* text */
.section-title{font-size: 1.8rem; font-weight: 500; font-family: 'Paperozi';}
.section-title-gradient{
  font-size: 1.8rem; 
  font-weight: 700;
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  font-family: 'Paperozi';
}
.section-title-sub{font-family: 'Pretendard'; font-size: 1.3rem; color: var(--secondary-text);}
.content-text{font-family: 'Pretendard'; font-size: 1.4rem; line-height: 150%; letter-spacing: -3%;}

/* button */
.btn{
  width: 100%;
  padding: 1rem 0;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Paperozi';
  border-radius: 0.5rem;
  text-align: center;
}
.btn.primary{
  background-color: var(--primary);
  color: var(--white);
}
.btn.gray{
  background-color: var(--gray100);
  transition: 0.2s ease-in-out;
}
.btn.stroke{
  background-color: var(--white);
  border: 0.2rem solid var(--secondary);
}
.half-btn-wrap{
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  .btn.half{
    flex: 1;
    border: 0.2rem solid var(--gray400);
  }
  .btn.half.primary{border: 0.2rem solid var(--primary);}
}

/* tag */
.tag-wrap{
  display: flex;
  column-gap: 0.2rem;
}
.tag{
  font-size: 1.2rem;
  font-family: 'Paperozi';
  padding: 0.2rem 0.5rem;
  border: 0.07rem solid var(--gray400);
  border-radius: 10rem;
}

/* tab-menu */
.tab-menu{
  display: flex;
  background-color: var(--white);
  li{
    flex: 1;
    padding: 2rem 0;
    text-align: center;
    font-family: 'Paperozi';
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--gray400);
    cursor: pointer;
    position: relative;
    transition: color 0.2s ease-in-out;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.2rem;
      background-color: var(--primary);
      transition: 0.2s ease-in-out;
    }
  }
}

/* chip */
.chips{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.chips li{
  font-family: 'Paperozi';
  font-size: 1.4rem;
  display: flex;
  column-gap: 0.5rem;
  border: 0.07rem solid var(--gray400);
  border-radius: 10rem;
  padding: 0.7rem 1.5rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.chips li img{transition: filter 0.2s ease-in-out;}

/* img */
.icon-heart-wish path{
  fill: rgba(0,0,0,0.5);
  stroke: var(--white);
  transition: 0.2s ease-in-out;
}

.img-thumb{
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
  .img{
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  .icon-heart-wish{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
  }
}

/* video */
.video-thumb{
  position: relative;
  width: 15rem;
  height: 20rem;
  border-radius: 1rem;
  overflow: hidden;
  video{
    object-fit: cover;
    width: inherit;
    height: inherit;
  }
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
  }
}
.video-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .video-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .video-profile{
      display: flex;
      align-items: center;
      column-gap: 0.3rem;
      img{width: 2rem;}
      .name{
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Paperozi';
        color: #fff;
      }
    }
  }
}
.video-bottom{
  color: var(--white);
  .vidio-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      width: 90%;
      font-size: 1.2rem;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .video-more{
      display: flex;
      flex-direction: column;
      row-gap: 0.2rem;
      span{
        display: block;
        width: 2px;
        height: 2px;
        border-radius: 2px;
        background: var(--white);
      }
    }
  }
  .video-play{
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    &:before{
      content: '\f04b';
      font-family: fontawesome;
      margin-right: 0.3rem;
      font-size: 0.7rem;
    }
  }
}



/* map-cate-icon */
.map-cate-icon{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 50%;
    height: 50%;
  }
}
.map-cate-icon.food{background-color: var(--primary);}
.map-cate-icon.cafe{background-color: var(--cafeicon);}
.map-cate-icon.play{background-color: var(--playicon);}
.map-cate-icon.triangle{
  position: relative;
  width: 4rem;
  height: 4rem;
  img{transform: scale(1.2);}
  &:before{
    content:'';
    position:absolute;
    bottom:-1rem;
    left:50%;
    transform: translateX(-50%); 
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    width: 50%;
    height: 50%;
    background-color: inherit;
  }
}

/* rating-star */
.star-rate{
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}
.rating{
  width: 6rem;
  height: 1.2rem;
  position: relative;
  background: url(img/svg/icon-star-rate-gray.svg) repeat-x;
  background-size: 1.2rem 1.2rem;
}
.rating:before{
  content: '';
  position: absolute;
  inset: 0;
  background: url(img/svg/icon-star-rate-yellow.svg) repeat-x;
  background-size: 1.2rem 1.2rem;
  width: var(--rateWidth);
  overflow: hidden;
}
.score{
  color: var(--star-score);
  font-size: 1.2rem;
  font-weight: 600;
}

/* sale-mark */
.sale-mark{
  width: 3.5rem;
  height: 4.5rem;
  clip-path: polygon(20% 0%, 0 0, 0 50%, 0 100%, 0 100%, 50% 80%, 100% 100%, 100% 100%, 100% 51%, 100% 0, 80% 0%, 50% 0);
  background: var(--gradient);
  box-shadow: 0 2px 2px 0 rgba(255, 72, 142, 0.25);
  p{
    text-align: center;
    font-family: 'Paperlozi';
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    line-height: 1.2rem;
    padding-top: 0.4rem;
  }
}

/* hr line */
.line-thin{
  width: 100%;
  height: 0.1rem;
  background-color: var(--gray200);
}
.line-thick{
  width: 100%;
  height: 0.5rem;
  background-color: var(--gray200);
}

/* list-style */
/* 승현/효원 - 퍼펙트딜 리스트 */
.sale-list .sale-item{
  width: 100%;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  padding: 1rem 0;
}
.sale-item-text{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.sale-item-store{
  .region, .product{font-size: 1.2rem;}
  .store{
    font-family: 'Paperozi';
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0 0.3rem 0;
  }
}
.sale-item-price{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  .discount-rate{
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    span{font-size: 1.5rem;}
  }
  .price{
    font-size: 1.4rem;
    font-weight: 600;
    span{
      font-size: 1rem;
      color: var(--gray400);
      text-decoration: line-through;
      padding-right: 0.5rem;
    }
  }
}
.sale-item-rating p{
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  font-size: 1.2rem;
}

/* 승현/선홍 - 코스 리스트 */
.course-list .course-item{
  width: 100%;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  padding: 1rem 0;
}
.course-list .course-item-right{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  .title{
    font-size: 1.7rem;
    font-weight: 600;
  }
  .right-detail{
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    .text1{
      font-size: 1.3rem;
      font-weight: 500;
    }
    .text2{
      color: var(--secondary-text);
      display: flex;
      column-gap: 1rem;
      .address{font-size: 1.2rem;}
      .spot{font-size: 1.3rem;}
    }
  }
}

/* 효원/선홍 - 스팟 리스트 */
.spot-list .spot-item{
  width: 100%;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  padding: 1rem 0;
}
.spot-item-right{
  width: 23rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  .spot-title {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    P{
      font-size: 1.7rem;
      font-weight: 700;
    }
  }
  .spot-address p{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    img{
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

/* 승현/나연 - 코스 디테일 리스트 */
.makecourse-list .makecourse-card{
  width: 100%;
  padding: 2rem 1.5rem;
  background-color: var(--gray100);
  border-radius: 0.5rem;
  position: relative;
  .makecourse-close-btn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
  }
}
.makecourse-inner{
  height: 8rem;
  display: flex;
  column-gap: 1.5rem;
}
.makecourse-inner .makecourse-num{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  .circle-num{
    font-family: 'Paperozi';
    font-size: 1.1rem;
    font-weight: 600;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    line-height: 2.2rem;
    color: var(--white);
  }
  .time{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--secondary-text);
  }
}
.makecourse-inner .makecourse-num.food .circle-num{background-color: var(--primary);}
.makecourse-inner .makecourse-num.cafe .circle-num{background-color: var(--cafeicon);}
.makecourse-inner .makecourse-num.play .circle-num{background-color: var(--playicon);}

.makecourse-inner .makecourse-img{
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
  overflow: hidden;
  img{
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}
.makecourse-inner .makecourse-txt{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  .title{
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    h4{
      font-size: 1.7rem;
      font-weight: 600;
    }
  }
}
.makecourse-txt .address{
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--secondary-text);
}
.makecourse-txt .book-chip{
  width: fit-content;
  display: flex;
  padding: 0.3rem 0.5rem;
  align-items: center;
  column-gap: 0.3rem;
  border-radius: 1rem;
  border: 0.05rem solid var(--primary);
  color: var(--primary);
  font-size: 1rem;
}

/* footer */
footer{
  background-color: var(--gray100);
  .inner{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    padding: 2.5rem 2rem;
  }
}
footer .contact{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Paperozi';
}
footer .contact-info{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  .info-title{
    font-size: 1.5rem;
    font-weight: 600;
  }
  .info-time, .info-email{font-size: 1.3rem;}
  .info-email{text-decoration: underline;}
  .info-tel{
    width: fit-content;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-text);
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    margin-top: 1rem;
  }
}
footer .contact-sns{
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  li{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray200);
    border-radius: 10rem;
  }
}
footer .company{
  .company-title{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    i{
      margin-left: 0.5rem;
      transition: 0.2s ease-in-out;
    }
  }
  .company-info{
    display: none;
    font-size: 1.2rem;
    color: var(--gray400);
    line-height: 1.8rem;
    margin-top: 0.7rem;
    b{font-weight: 500;}
  }
}
footer .footer-menu{
  display: flex;
  justify-content: space-between;
  li a{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray400);
  }
  li:last-child a{color: var(--primary-text);}
}
footer address{
  font-size: 1rem;
  color: var(--gray400);
  font-style: normal;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: -3%;
  .copyright{
    font-size: 0.9rem;
    letter-spacing: -3%;
  }
}




/* index CSS_____________________________ */
/* header-------------------- */
header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 5.5rem;
  background-color: var(--white);
  border-bottom: 0.1rem solid var(--bg);
  z-index: 100;
}
header .inner{
  height: inherit ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon-search{margin-right: 0.5rem;}
}

/* hamburger click */
aside{
  overflow-y: auto;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 100%;
  background-color: var(--white);
  z-index: 110;
  transition: left 0.4s ease-in-out;
}
aside .aside-header{
  background-color: var(--bg);
  padding: 1.2rem 0 1.5rem 0;
  .inner{
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }
}
aside .aside-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .aside-alarm{margin-right: 0.5rem;}
}
aside .aside-profile{
  text-align: center;
  img{width: 8rem; margin-bottom: 0.7rem;}
  .info{
    h3{color: var(--primary);}
  }
}
aside .aside-btn .btn.half{
  border: none;
  background-color: var(--white);
  transition: 0.2s ease-in-out;
}

.aside-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  >li{
    padding: 1.8rem 0;
    border-bottom: 1px solid var(--gray200);
    transition: 0.2s ease-in-out;
    &:last-child{border-bottom: none;}
    a{
      display: flex;
      align-items: center;
      column-gap: 1rem;
      span{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primary);
      }
    }
  }
}
.aside-menu-sub{
  margin-top: 0.6rem;
  a{
    padding: 0.6rem 0 0.6rem 3.4rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

/* bottom-nav-------------------- */
.bottom-nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9rem;
  background-color: var(--white);
  border-top: 0.1rem solid var(--bg);
  z-index: 100;
}
.bottom-nav-menu{
  display: flex;
  justify-content: center;
  li{
    flex: 1;
    padding-top: 0.7rem;
    text-align: center;
    p{
      font-family: 'Paperozi';
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--primary);
      margin-top: 0.5rem;
      transition: 0.2s ease-in-out;
    }
  }
}






/* active가 붙었을 때 */
/* icon-heart-wish */
.icon-heart-wish.active path{fill: var(--primary); stroke: var(--primary);}

/* chip */
.chips li.active{
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}
.chips li.active img{filter: brightness(3);}

/* tab-menu */
.tab-menu li.active:after{
  /* border-bottom: 0.2rem solid var(--primary); */
  width: 100%;
  color: var(--primary-text);
}

/* footer company */
footer .company.active i{transform: rotate(180deg);}

/* index CSS-------- */
/* header */
body.aside-active aside{left: 0;}

/* hover effect */
.btn.fill.gray:hover{
  background-color:  var(--primary);
  color: var(--white);
}
aside .aside-btn .btn.half:hover{
  background-color: var(--primary);
  color: #fff;
}
