footer{margin-top: 3rem;}
.detail-course{padding-top: 2.5rem;}

.course-img{
  width: 100%;
  height: 15rem;
  margin-top: 1rem;
}
.course-top{
  .writer{
    margin-top: 2rem;
    p:nth-child(1){
      display: flex;
      align-items: center;
      column-gap: 0.3rem;
      font-size: 1.2rem;
      font-weight: 500;
      font-family: 'Paperozi';
      margin-bottom: 0.5rem;
      img{width: 2rem;}
    }
    p:nth-child(3){
      font-size: 1.3rem;
      color: var(--secondary-text);
    }
  }
}
.info-cards{
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  .card{
    margin-top: 1.5rem;
    flex: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: 0 0 0.2rem rgba(0,0,0,0.15);
    text-align: center;
    p{
      span{
        display: block;
        font-family: 'Paperozi';
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--primary);
        margin-top: 0.3rem;
      }
    }
  }
}
.course-detail{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  li{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .course-img{margin-top: 0;}
    p.tit{
      font-family: 'Paperozi';
      font-size: 1.7rem;
      font-weight: 500;
      span{
        display: block;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--secondary);
        margin-bottom: 0.3rem;
      }
    }
    .content{
      p:first-child{font-weight: 500;}
      p:last-child{
        margin-top: 0.5rem;
        font-size: 1.3rem;
        b{font-weight: 600;}
      }
    }
    .info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left{
        display: flex;
        div{
          display: flex;
          column-gap: 0.5rem;
          align-items: center;
          padding: 0 1rem;
          &:first-child{
            padding-left: 0;
            border-right: 0.1rem solid var(--gray200);
          }
          span{font-size: 1.2rem; }
        }
      }
      .more{
        font-size: 1.2rem;
        i{font-size: 1rem}
      }
    }
  }
}
.course-map{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  >img{
    width: 100%;
    height: 35rem;
    object-fit: cover;
    object-position: center top;
    border-radius: 0.5rem;
  }
  .expect{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0.07rem solid var(--gray300);
    border-radius: 10rem;
    padding: 0.5rem 0;
    .text{
      flex: 1;
      text-align: center;
      padding: 0.5rem 0;
      font-size: 1.5rem;
      font-weight: 600;
      &:first-child{border-right: 0.1rem solid var(--gray300);}
      span{
        display: block;
        font-size: 1.3rem;
        color: var(--gray400);
        margin-bottom: 0.2rem;
      }
    }
  }
}
.makecourse-txt .book-chip .book-chip-map{
  width: 1rem;
  height: 1rem;
}
.makecourse-meter{
  width: fit-content;
  margin: 0.5rem 0;
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3rem;
  .makecourse-dash-line{
    width: 0;
    height: 1rem;
    border-left: 0.1rem dotted var(--gray400);
  }
  .makecourse-circle-num{
    color: var(--gray400);
    font-size: 1.2rem;
    width: 5.1rem;
    height: 2.5rem;
    border-radius: 10rem;
    border: 0.07rem solid var(--gray400);
    text-align: center;
    line-height: 2.5rem;
  }
}