/* detail-visual */
.detail-book{
  position: fixed;
  bottom: 9.5rem;
  right: 2rem;
  display: block;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  background-color: var(--primary);
  font-family: 'Paperozi';
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.25);
  z-index: 10;
}
.none{display: none;}
.primary-color{color: var(--primary); font-weight: 600;}
.gray-text{color: var(--gray400); font-weight: 600;}
.detail-visual{width: 100%;}
.detail-visual .swiper{
  width: 100%;
  height: 21.5rem;
  z-index: -1;
}
.detail-visual .swiper-slide{
  width: inherit;
  height: inherit;
  position: relative;
}
.detail-visual .swiper-slide.slide1{background: url(../img/images/mycourse02.jpg) no-repeat center/cover;}
.detail-visual .swiper-slide.slide2{background: url(../img/images/detail08.jpg) no-repeat center/cover;}
.detail-visual .swiper-slide.slide3{background: url(../img/images/detail09.jpg) no-repeat center/cover;}
.detail-visual .swiper-slide .sale-mark{
  position: absolute;
  top: 0;
  left: 2rem;
}
.detail-visual .swiper-slide .counter{
  position: absolute;
  right: 2rem;
  bottom: 3rem;
  width: 4rem;
  height: 2rem;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  color: var(--white);
  .now{font-size: 1.2rem; font-weight: 600;}
  .all{font-size: 1rem;}
}
.detail-content{
  position: relative;
  transform: translateY(-1.5rem);
  background-color: var(--white);
  border-radius: 2rem 2rem 0 0;
  .inner{padding-top: 2rem;}
}
.detail-content .detail-top{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.detail-content .title{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  h1{font-size: 2.3rem; font-weight: 600;}
  .wish-star{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    .wish{
      display: flex;
      align-items: center;
      column-gap: 0.2rem;
      img{
        width: 1.2rem;
        height: 1.2rem;
      }
      span{font-size: 1.2rem;}
    }
  }
  .review-underline{
    font-size: 1.1rem;
    color: var(--gray400);
    text-decoration: underline;
  }
}
.detail-content .location{
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  span{font-size: 1.3rem;}
}

.detail-content .detail-quick{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  .line{
    width: 0.1rem;
    height: 2.5rem;
    background-color: var(--gray200);
  }
  button{
    img{
      width: 2rem;
      height: 2rem;
    }
    span{
      display: block;
      font-family: 'Paperozi';
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }
  }
}
.detail-top-line{
  height: 0.3rem;
  margin-top: 1.5rem;
}
.detail.tab-menu{
  position: sticky;
  top: 7rem;
  z-index: 50;
}
.detail.tab-menu li{
  padding: 0;
}
.detail.tab-menu a{
  font-weight: 500;
  display: block;
  height: 5.8rem;
  line-height: 5.5rem;
}
.detail .tab-menu li.active a{
  width: 100%;
  color: var(--primary-text);
}
.content-wrap{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.content{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 3rem 2rem;
  &:last-of-type{padding-bottom: 2rem;}
  .content-title{
    font-family: 'Paperozi';
    font-size: 1.7rem;
    font-weight: 500;
  }
}
.section-title-gradient{
  display: flex;
  align-items: center; 
  img{
    width: 2.5rem;
    height: 2.5rem;
  }
} 
.sale-acco .acc-title{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid var(--gray200);
  margin: 2rem 0 1rem 0;
  .left{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    span{font-size: 1.5rem; font-weight: 500;}
  }
  i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
}
.sale-acco .acc-text{
  display: none;
  font-size: 1.2rem;
  line-height: 140%;
  b{
    font-size: 1.3rem;
    font-weight: 500;
    display: block;
    margin-bottom: 0.2rem;
    &:last-of-type{margin-top: 1rem;}
  }
}
#info .content-box{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.info-item{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  &:not(:last-of-type){padding-bottom: 1.5rem; border-bottom: 0.1rem solid var(--gray200);}
  .info-title{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    span{
      font-family: 'Paperozi';
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
.info-item.tel{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .info-text{
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--secondary-text);
    border-radius: 10rem;
    font-family: 'Paperozi';
    font-size: 1.2rem;
  }
}
.info-item.menu{
  .menu-list{
    width: 100%;
    background-color: var(--bg-light);
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    li{
      display: flex;
      justify-content: space-between;
      &:not(:last-child){margin-bottom: 1.5rem;} 
      h4{
        font-size: 1.4rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        span{
          padding: 0.2rem 0.4rem;
          background-color: var(--primary);
          border-radius: 10rem;
          font-family: 'Paperozi';
          font-size: 0.9rem;
          font-weight: 500;
          color: var(--white);
        }
      }
      p{font-size: 1.3rem;}
    }
  }
  .menu-img{
    display: flex;
    column-gap: 0.3rem;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    cursor: grab;
    &::-webkit-scrollbar {
      display: none;
    }
    li{
      width: 10rem;
      height: 100%;
      cursor: pointer;
      img{
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
  }
}
.info-item.sales{
  .info-text{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 1.5rem;
    li{
      p{
        display: flex;
        align-items: center;
        column-gap: 1rem;
        b{
          font-weight: 600;
          display: inline-block;
          width: 3.5rem;
          border-right: 0.1rem solid var(--gray200);
        }
        span{
          width: 2.5rem;
          height: 2.5rem;
          padding: 0.5rem;
          background-color: var(--bg-light);
          border-radius: 50%;
          cursor: pointer;
          &:not(:first-child){margin-left: -0.5rem;}
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
.info-item.location-img{
  .map-img{width: 100%;}
  .map-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin-top: 1rem;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      b{
        font-weight: 600;
        display: inline-block;
        width: 3.5rem;
        border-right: 0.1rem solid var(--gray200);
      }
    }
    .small-btn{
      padding: 0.5rem 1rem;
      border: 0.1rem solid var(--primary);
      border-radius: 10rem;
      font-family: 'Paperozi';
      color: var(--primary);
      font-size: 1.2rem;
      transition: 0.2s ease-in-out;
      &:hover{
        color: var(--white);
        background-color: var(--primary);
      }
    }
  }
}
#review .content-title-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    font-weight: 500;
    color: var(--primary);
  }
}
#review .content-box .review-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-light);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 1rem;
  .left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    p{
      font-family: 'Paperozi';
      font-size: 2.3rem;
      font-weight: 600;
    }
    .star-rate{
      .rating{
      transform: scale(1.3);
      }
    }
  }
  .right{
    flex: 2;
    border-left: 0.1rem solid var(--gray300);
    .percent-bar{
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      li{
        display: flex;
        column-gap: 1rem;
        align-items: center;
        padding: 0.5rem 0;
        span{
          font-size: 1.3rem;
        }
        .bar{
          flex: 2;
          width: 100%;
          height: 0.6rem;
          position: relative;
          div{
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: 10rem;
            &.gray-bar{
              background-color: var(--gray200);
            }
            &.color-bar{
              background-color: var(--primary);
            }
          }
        }
      }
    }
  }
}
#review .content-box .review{
  li{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2.5rem 0;
    &:not(:last-child){border-bottom: 0.1rem solid var(--gray200);}
    .review-profile{
      display: flex;
      column-gap: 0.7rem;
      align-items: center;
      >img{
        width: 3.5rem;
        height: 3.5rem;
      }
      .profile-content{
        .review-star{
          .rating{
            transform: scale(1.3);
            transform-origin: left;
          }
          .review-date{
            font-size: 1.3rem;
            margin: 0.1rem 0 0 2rem;
          }
        }
      }
    }
    .review-detail{
      display: flex;
      justify-content: space-between;
      .review-text{flex: 2;}
      img{
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
  }
}
.btn.stroke i{margin-left: 0.5rem; font-size: 1.2rem;}
.course-btn{margin-top: 1rem;}
.book-sale-item{
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
  border: 0.2rem solid var(--gray300);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &.active{
    border-color: var(--primary);
  }
  >img{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 0.5rem;
    flex-shrink: 0;
  }
  .sale-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .title{row-gap: 0;}
    .price{
      display: flex;
      flex-direction: column;
      align-items: end;
      .cancel{
        font-size: 1.2rem;
        color: var(--gray400);
        text-decoration: line-through;
      }
      .discount-rate{
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
        span{font-size: 1.5rem;}
        b{
          font-size: 1.7rem;
          font-weight: 600;
          margin-left: 0.5rem;
        }
      }
    }
  }
}