section.home{
  padding-top: 5rem;
}
footer{margin-top: 3rem;}
/* title */
.title-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  .title{
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
  }
  p{
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
  }
  .more{
    display: inline;
    i{font-size: 1.2rem;}
  }
}
.primary-color{color: var(--primary); font-weight: 600;}
.gray-text{color: var(--gray400); font-weight: 600;}
.dark-text{color: var(--primary-text);}
/* visual */
.home-visual{padding-top: 2.5rem;}
.visual-swiper{margin: 2rem 0 1.5rem 0; z-index: -1;}
.visual-swiper .swiper-slide{
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  position: relative;
}
.visual-swiper .swiper-slide.slide1{background: url(../img/images/main-slide01.png) no-repeat center/cover;}
.visual-swiper .swiper-slide.slide2{background: url(../img/images/main-slide02.png) no-repeat center/cover;}
.visual-swiper .swiper-slide.slide3{background: url(../img/images/main-slide03.png) no-repeat center/cover;}
.visual-swiper .swiper-slide.slide4{background: url(../img/images/main-slide04.png) no-repeat center/cover;}
.visual-swiper .swiper-slide.slide5{background: url(../img/images/main-slide05.png) no-repeat center/cover;}
.visual-swiper .swiper-slide .des-wrap{
  width: 100%;
  padding: 1.5rem;
  font-family: 'Paperozi';
  color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  .des{
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    >span{
    font-size: 1.6rem;
    }
    p{
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
  .counter{
    width: 4rem;
    height: 2rem;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.2rem;
    .now{font-size: 1.2rem; font-weight: 600;}
    .all{font-size: 1rem;}
  }
}
.home-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  li{
    flex: 1;
    text-align: center;
    p.home-nav-title{
      font-size: 1.2rem;
      font-weight: 500;
      font-family: 'Paperozi';
      margin-top: 0.3rem;
    }
  }
}
.home-visual .line-thin{margin: 4rem 0;}

/* video-wrap */
.video-list{
  display: flex;
  column-gap: 0.6rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  user-select: none;
  cursor: grab;
}
.video-list::-webkit-scrollbar {display: none; }
.video-list li{
  flex-shrink: 0;
}

/* mycourse */
.package-course{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.map-image{
  background: url(../img/images/map-main.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 20rem;
  position: relative;
  border-radius: 1rem;
  .map-cate-item{position: absolute;}
  .map-cate-item.food{top: 0; left: 0;}
  .map-cate-item.cafe{top: 0; left: 0;}
  .map-cate-item.play{top: 0; left: 0;}
}
.package-list{
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  user-select: none;
  cursor: grab;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  &::-webkit-scrollbar {display: none; }
  li{
    width: 100%;
    &:not(:last-child).package-item{
      border: 0.05rem solid var(--gray300);
      border-radius: 0.5rem;
    }
  }
  .package-card{
    width: 17rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    .imgBox{
      width: inherit;
      height: 9rem;
      border-radius: 0.5rem;
      overflow: hidden;
      position: relative;
      >img{
        width: 100%;
        height: inherit;
        object-fit: cover;
        position: absolute;
      }
      .book-label{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
        background-color: var(--primary);
        padding: 0.2rem 0.5rem;
        img{object-fit: cover;}
        span{
          font-size: 1rem;
          color: var(--white);
        }
      }
    }
  }
}
.package-card .textBox{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0.7rem 0.5rem;
  .text-top{
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    img{width: 1.7rem; height: 1.7rem;}
    span{
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  .text-bottom{
    p{font-size: 1.2rem; font-weight: 500;}
    b{font-size: 1.2rem; font-weight: 700;}
  }
}
.package-list li.package-arrow{
  font-size: 1.5rem;
  color: var(--primary);
}
.package-item.plus-spot{
  border: 0.1rem dashed var(--primary);
  border-radius: 0.5rem;
    .package-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
      display: flex;
      flex-direction: column;
      row-gap: 0.3rem;
      font-family: 'Paperozi';
      font-size: 1.2rem;
      font-weight: 500;
      i{
        font-size: 2rem;
        color: var(--variant);
      }
    }
  }
}
.package-course .line{border: 0.1rem dashed var(--gray200);}
.package-btn-wrap{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  .expect-text{
    display: flex;
    column-gap: 1rem;
    span{
      font-size: 1.2rem;
      b{font-weight: 600;}
    }
  }
}

/* 퍼펙트딜 */
.home-sale .title span{
  display: flex;
  align-items: center;
  &:before{
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    background: url(/assets/img/svg/icon-sale-gradient.svg) no-repeat center;
  }
}
.home-sale .chips.small li{
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  img{
    width: 1.6rem;
    height: 1.6rem;
  }
}
.home-sale .sale-list{
  margin-top: 2rem;
}

/* book-modal */
.book-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}
.book-modal{
  display: none;
  opacity: 0;  
  background-color: #fff;
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: calc(60vh + 7.5rem);
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform .3s ease, opacity .3s ease;
  overflow-y: auto;
  pointer-events: none;  
  z-index: 91;
}
body.book-active .book-overlay {
  display: block;
  opacity: 0.6;
  pointer-events: auto;
}
body.book-active .book-modal {
  opacity: 1;
  pointer-events: auto;
}
.book-btn-wrap{
  width: 100%;
  background-color: var(--gray100);
  padding: 1.5rem 0;
  margin-bottom: 7.5rem;
}
.book-modal .book-top{ 
  position: sticky;
  top: 0;
  padding: 1.5rem 2rem;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(0.5rem);
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid var(--gray200);
  z-index: 10;
  h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.book-modal .book-content{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.book-modal .book-item-title{
  h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    i{
      color: var(--primary-text);
      font-size: 1.5rem;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }
  }
}
.book-modal .book-item-title .section-title.gray-text i{color: var(--gray400);}
.book-modal .line-thin{margin: 1rem 0 2rem 0;}
.book-modal .book-item-detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
  .booking-label{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    span{
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  .qty{
    width: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input{
      width: 2.5rem;
      height: 2.5rem;
      border: 0.05rem solid var(--gray400);
      border-radius: 0.5rem;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
.book-item-detail.booking-calendar{
  flex-direction: column;
  align-items: baseline;
  row-gap: 2rem;
}
#calendar, #calendar .litepicker{width: 100%;}
#calendar .litepicker,
#calendar .litepicker * {
  box-shadow: none;
  font-family: 'Pretendard';
}
.litepicker .container__months,
.litepicker .container__months .month-item,
.litepicker .container__months .month-item-header,
.litepicker .container__months .month-item-weekdays-row,
.litepicker .container__days{width: 100%;}
.litepicker .container__months .month-item-header .button-next-month svg path,
.litepicker .container__months .month-item-header .button-previous-month svg path{fill: var(--gray200);}
.litepicker .container__days .day-item.is-end-date{background-color: var(--primary);}
.litepicker .container__months .month-item-header div>.month-item-name,
.litepicker .container__months .month-item-header div>.month-item-year{font-size: 1.5rem; font-weight: 500;}
.litepicker .container__days .day-item,
.litepicker .container__months .month-item-weekdays-row>div{font-size: 1.3rem;}
.litepicker .container__days>div{padding: 1rem 0;}
.litepicker .container__days>div{width: calc(100% / 7);}
.litepicker .container__days .day-item:hover{color: var(--primary);}
.litepicker .container__days .day-item.is-today{color: var(--primary-text); font-weight: 500;}
.litepicker .container__days .day-item.is-end-date{color: var(--white);}

.time-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.time-label{
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.time-item{
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  .time-row{
    display: flex;
    column-gap: 1rem;
    .time{
      width: 6rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      border: 0.1rem solid var(--gray400);
      border-radius: 0.5rem;
      color: var(--primary-text);
      &.select{
        color: var(--gray400);
        border: 0.1rem solid var(--gray400);
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }
}
.book-sale-item{
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
  border: 0.2rem solid var(--gray300);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &.active{
    border-color: var(--primary);
  }
  >img{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 0.5rem;
    flex-shrink: 0;
  }
  .sale-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .price{
      display: flex;
      flex-direction: column;
      align-items: end;
      .cancel{
        font-size: 1.2rem;
        color: var(--gray400);
        text-decoration: line-through;
      }
      .discount-rate{
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
        span{font-size: 1.5rem;}
        b{
          font-size: 1.7rem;
          font-weight: 600;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
.check-detail{
  padding: 1rem 0 1rem 0;
  li{
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--gray200);
    &.border-none{border-bottom: none;}
  }
}
.check-title{
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
  span{
    font-size: 1.4rem;
    font-weight: 600;
  }
  img{
    width:  1.7rem;
    height: 1.7rem;
  }
}

.time-item .time-row .time:hover,
.time-item .time-row .time.active{
  color: var(--primary);
  border: 0.1rem solid var(--primary);
}

/* video */
.video-modal{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 120;
}
.video-modal .video-thumb{
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.video-modal .video-inner{
  .video-btn-top{
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 1rem;
    button{
      width: fit-content;
      text-align: left;
      path{
        stroke: var(--white);
        stroke-width: 0.2rem;
        stroke-linecap: round;
      }
    }
    .video-top{
      align-items: center;
      .video-profile{
        img{width: 3.5rem;}
        .name{
          font-size: 1.6rem;
        }
      }
    }
  }
}
.video-modal .video-bottom{
  color: var(--white);
  .vidio-title{
    p{font-size: 1.8rem;}
    .video-more{
      span{
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 3px;
      }
    }
  }
  .video-play{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    &:before{
      font-size: 1rem;
    }
  }
  .btn{color: var(--primary-text); margin-top: 1.5rem;}
}
body.video-active{overflow: hidden;}
body.video-active .video-modal{display: block;}

/* POP-UP-MODAL */
.pop-up-modal{
  position:fixed; 
  left:0; 
  top:0;
  width:100%; 
  height:100vh; 
  background:rgba(0,0,0,0.5); 
  z-index:1000;  
  overflow-x:hidden;
  overflow-y:auto; 
}
.pop-up{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1001;
}
.pop-up img{
  display: block;
  width: 39rem;
  height: 30rem;
  margin: auto;
}
.pop-up-btn{
  width: 39rem;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: var(--variant);
  margin-top: -0.1rem;
}
.close-modal{
  cursor: pointer;
  pointer-events: auto;
  display: block;
}
.pop-up-text{
  display: flex;
  gap: 0.3rem;
  margin-top: 1rem;
  padding: 0 0.5rem;
  label{color: var(--gray100);}
}
.pop-txt{
  font-family: 'Pretendard';
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--white);
}
#dontShowCheckbox{display: none;}
#dontShowCheckbox + label {
  position: relative;
  padding-left: 3rem;
  cursor: pointer;
  user-select: none;
  color: #fff;
}
#dontShowCheckbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border: 0.2rem solid var(--gray300);
  border-radius: 1rem;
  background: white;
  transition: all 0.3s;
}
#dontShowCheckbox:checked + label:before {
  background: var(--variant);
  border-color: var(--gray100);
}
#dontShowCheckbox + label:hover:before {
  border-color: var(--variant);
}