.title_box{
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  h2{
    font-family: 'Paperozi';
    font-size: 1.8rem;
    padding-left: 0.5rem;
    color: var(--primary-text);
  }
}

.video_box{
  display: flex;
  column-gap: 0.6rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  cursor: grab;
}

.video_box::-webkit-scrollbar{
  display: none;
}

.video_box .video-thumb{
  flex-shrink: 0;
}


.tab-menu{
  margin-top: 3rem;
  margin-bottom: 2rem;
}


/* list main */
.tabContents h2{
  font-family: 'Paperozi';
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: var(--primary-text);
}

.tabContents .main-box{
  width: 100%;
  margin: auto;
  align-items: center;
  .main-box2{
    position: relative;
    margin: auto;
  }
}
.tabContents .main-box .coursemain{
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
}

.tabContents .main-box .icon-heart-wish{
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}

.profile-box{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.list-profile{
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

.list-profile img{
  width: 2rem;
  height: 2rem;
}
.list-profile .name{
  font-family: 'Pretendard';
  font-size: 1.2rem;
  padding-left: 0.5rem;
  color: var(--primary-text);
}

.profile-box .font14{
  font-size: 1.4rem;
  color: var(--primary-text);
}
.profile-box .font13{
  font-size: 1.3rem;
  color: var(--secondary-text);
}


/* bar */
.line-thin{
  width: 35rem;
  margin: 2rem 0;
}


/* list */
.list-king{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.list-king2{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.listbox{

  background-color: var(--white);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.listbox .left-img{
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.listbox .left-img .img{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  object-fit: cover;
}

.right-text{
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-color{
  color: var(--variant);
  font-size: 1.4rem;
  font-weight: 600;
}

.right-frist-text p{
  color: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 600;
}

.right-two-text{
  color: var(--primary-text);
  font-size: 1.3rem;
  p{font-weight: 400;}
  .tip{font-weight: bold;}
}

.icon-heart-wish{
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  cursor: pointer;
}

/* tab contents */
.tabContents > div{
  display: none;
}
.tabContents > div.show{
  display: block;
}

/* footer */
footer .inner{margin-top: 2rem;}
