.spot-list-king{
  display: flex;
  justify-content: center;
  width: 100%;
}

.ncolor{color: var(--primary);}

/* ------------------ */

.tabContents h3{
  margin-bottom: 2rem;
  width: 100%;
  max-width: 35rem;
  margin: auto;
  font-family: 'Paperozi';
  font-size: 1.4rem;
  color: var(--primary-text); 
}


#tab2 .vedio-box{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#tab2 .video-thumb{
  width: 100%;
  max-width: 17rem;
  height: 23rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.wishcourse-list{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .inner{
  margin-top: 1rem;
}

/* active가 붙었을 때 */
/* icon-heart-wish */
.icon-heart-wish.active path{fill: var(--primary); stroke: var(--primary);}