.section-title{font-size: 1.8rem;}

.title_box{
  margin: 2.5rem 0 2rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spot-list-king{
  display: flex;
  width: 100%;
}

.spot-list{
  width: 100%;
}

.ncolor{
  color: var(--primary);
  font-weight: 500;
}

/* ------------------ */

.tabContents > div { display: none; }
.tabContents > div.show { display: block; }

.tabContents h3{
  margin-bottom: 1rem;
  font-family: 'Paperozi';
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-text); 
}

.titlewish{
  margin-top: 2rem;
}

.spot-list-box{
  margin-top: 2rem;
}


#wish2 .vedio-box{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
  gap: 1rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
  .select{cursor: pointer;}
}

#wish2 .vedio-box > * { width: 100%; }
#wish2 .vedio-box > a { display: block; width: 100%; }

#wish2 .video-thumb{
  width: 100%;
  max-width: unset;
  aspect-ratio: 9 / 16;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.wishcourse-list{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: 2rem;
}

.icon-heart-wish.active path{
  fill: var(--primary); 
  stroke: var(--primary);
}

#wish2 {
  padding-bottom: 3rem;
}

#wish2 .titlewish {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#wish2 .wishcourse-list {
  margin-top: 1rem;
}

#wish2 .course-list li {
  margin-bottom: 1rem;
}
/* video */
.video-modal{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 120;
}
.video-modal .video-thumb{
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.video-modal .video-inner{
  .video-btn-top{
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 1rem;
    button{
      width: fit-content;
      text-align: left;
      path{
        stroke: var(--white);
        stroke-width: 0.2rem;
        stroke-linecap: round;
      }
    }
    .video-top{
      align-items: center;
      .video-profile{
        img{width: 3.5rem;}
        .name{
          font-size: 1.6rem;
        }
      }
    }
  }
}
.video-modal .video-bottom{
  color: var(--white);
  .vidio-title{
    p{font-size: 1.8rem;}
    .video-more{
      span{
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 3px;
      }
    }
  }
  .video-play{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    &:before{
      font-size: 1rem;
    }
  }
  .btn{color: var(--primary-text); margin-top: 1.5rem;}
}
body.video-active{overflow: hidden;}
body.video-active .video-modal{display: block;}