.makecourse{
  padding-top: 2.5rem;
}
/* makecourse-title_______________________ */
.makecourse-title{
  display: flex;
  margin-bottom: 2rem;
  .icon{
    margin-right: 0.5rem;
  }
  h3{color: var(--primary);}
}

/* makecourse-middle_______________________ */
.makecourse-middle{
  display: block;
  width: 100%;
  margin-bottom: 3rem;
}

/* makecourse-bottom_______________________ */
.makecourse-txt .book-chip .book-chip-map{
  width: 1rem;
  height: 1rem;
}
.makecourse-list{margin-bottom: 7rem;}
.makecourse-meter{
  width: fit-content;
  margin: 0.5rem 0;
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3rem;
  .makecourse-dash-line{
    width: 0;
    height: 1rem;
    border-left: 0.1rem dotted var(--gray400);
  }
  .makecourse-circle-num{
    color: var(--gray400);
    font-size: 1.2rem;
    width: 5.1rem;
    height: 2.5rem;
    border-radius: 10rem;
    border: 0.07rem solid var(--gray400);
    text-align: center;
    line-height: 2.5rem;
  }
}
.makecourse-spot-plus{
  width: 100%;
  height: 12rem;
  border: 0.2rem dotted var(--secondary);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.makecourse-spot-plus-btn{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Paperozi';
  color: var(--primary-text);
  .fa-solid.fa-circle-plus{
    color: var(--secondary);
  }
}

/* makecourse-modal_______________________ */
.makecourse-modal{
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10000;
  display: none;
}
.makecourse-modal-content{
  background-color: var(--white);
  width: 30rem;
  height: 18.5rem;
  border-radius: 0.5rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  h5{
    margin: 2.5rem 0 1.5rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--gray700);
  }
  p.modal-bold{
    margin-bottom: 2rem;
    span{
      font-weight: 500;
    }
  }
  .makecourse-modal-btn{
    display: block;
    border-top: 0.1rem solid var(--gray300);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5.9rem;
    line-height: 5.9rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary);
  }
}


footer{
  margin-top: 3rem;
}

