.mycourse{
  padding-top: 2.5rem;
}
h3.mycourse-title{margin-bottom: 2rem;}
h3.mycourse-title .mycourse-title-num{color: var(--primary);}

/* mycourse-card_______________________ */
.mycourse-card{width: 100%;}
.mycourse-card:first-of-type{
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--gray200);
  margin-bottom: 2rem;
  display: none;
}
.mycourse-card:last-of-type{
  margin-bottom: 7rem;
}
.mycourse-inner .mycourse-card-title{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-text);
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.mycourse-inner .mycourse-txt{
  font-size: 1.3rem;
  color: var(--secondary-text);
  margin-bottom: 1rem;
}
.mycourse-inner .mycourse-course{
  display: flex;
  align-items: center;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  user-select: none;
  cursor: grab;
  column-gap: 2rem;
  &::-webkit-scrollbar {display: none;}
}
.mycourse-course.is-grabbing {
  cursor: grabbing;
}
.mycourse-course .mycourse-course-card{
  .store-box{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 0.5rem;
    .store-box-icon{
      width: 1.7rem;
      height: 1.7rem;
    }
    .store-box-name{
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--primary-text);
    }
  }
}
.mycourse-course .mycourse-course-arrow{
  font-size: 1.5rem;
  color: var(--primary);
}

.makecourse-spot-plus{
  width: 10rem;
  height: 12.2rem;
  border: 0.2rem dotted var(--secondary);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.makecourse-spot-plus-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Paperozi';
  color: var(--primary-text);
  .fa-solid.fa-circle-plus{
    color: var(--secondary);
  }
}

/* plus btn____________________________ */
.btn.stroke.mycourse-plus{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  .fa-regular.fa-plus{
    font-size: 1.2rem;
  }
}

footer{
  margin-top: 3rem;
}

