/* mypage-title______________ */
.mypage {
  padding-top: 2.5rem;
}

.mypage-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.5rem;
}

.mypage-title h3 span {
  color: var(--primary);
  font-weight: 500;
}

.connect-btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: 'Paperozi';
  color: var(--gray400);
  border-radius: 10rem;
  border: 0.07rem solid var(--gray400);
  cursor: pointer;
}

/* mypage-top__________________ */
.mypage-top {
  text-align: center;
}

.mypage-top-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 7rem;
    height: 7rem;
  }

  .profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
  }
}

p.edit-btn {
  margin-bottom: 4.5rem;
  cursor: pointer;
}

.mypage-top-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.menu-box .menu-box-name {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Paperozi';
  margin-top: 0.5rem;
}

/* mypage-middle__________________ */
.mypage-middle-title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.mypage-middle-td {
  display: flex;
  column-gap: 10rem;
  margin-bottom: 3rem;
}

.mypage-middle-theme h4,
.mypage-middle-distance h4,
.mypage-middle-wish h4 {
  margin-bottom: 0.5rem;
  color: var(--secondary-text);
}

.mypage-middle-theme span {
  font-family: 'Paperozi';
  font-size: 1.3rem;
  color: var(--primary);
  display: inline-block;
  background-color: var(--bg);
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.mypage-middle-distance span {
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--primary);
}

.middle-wish-box-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 5rem;
}

.middle-wish-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .middle-wish-icon {
    background-color: var(--gray100);
    padding: 2.5rem 2.5rem;
    border-radius: 100%;
    margin-bottom: 0.7rem;
  }

  .middle-wish-txt {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--secondary-text);
    margin-bottom: 0.2rem;
  }

  .middle-wish-color {
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--primary);
  }
}

/* mypage-bottom__________________ */
.mypage-bottom-title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 2rem;
}

.mypage-bottom-act {
  display: flex;
  flex-direction: column;
  color: var(--primary-text);

  .act-btn {
    display: flex;
    justify-content: space-between;
  }

  .line-thin {
    margin-bottom: 1.5rem;
  }
}

.mypage-bottom-act .act-btn:not(:last-of-type) {
  margin-bottom: 1rem;
}

.mypage-bottom-act .act-btn .fa-solid {
  transform: rotate(90deg);
  font-size: 1.5rem;
  color: var(--secondary-text);
}

footer {
  margin-top: 3rem;
}